################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c-plus-plus-projects/v16/Browse.VC.db
/sillyMadLibs/.vs/sillyMadLibs/v16/Browse.VC.db
/sillyMadLibs/.vs/sillyMadLibs/v16/Browse.VC.opendb
